*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216, 182, 140);
    text-align: center;
}
header{
    background-color: rgb(204, 172, 133);
    display: block;
}
.header1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar{
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar-item{
    text-decoration: none;
    background-color:rgb(114, 88, 77);
    color: rgb(236, 233, 227);
    font-size: 20px;
    float: left;
    width: 46% ;
    border-radius: 15px;
    margin: 2%;
}
footer{
    background-color: rgb(204, 172, 133);
}

.logo-main{
    margin-left: 5%;
    width: 120px;
    height: 7%;
    display: flex;
}
h1{
    display: flex;
    align-items: center;
    margin-left: -7%;
    width: 83%;
    justify-content: center;
    font-size:250%;
}
.main-container{
    margin-left: 10%;
    margin-right: 10%;
    border: medium double #369; 
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    border: groove 10px rgba(235, 202, 166, 0.705);
}
.product-name{
    margin-top: 15px;
}
.title{
    font-size: 27px;
    margin-bottom: 15px;
}
.mission-container{
    margin-left: 10%;
    margin-right: 10%;
    border: groove 10px rgba(235, 202, 166, 0.705);
}
.navbar li{
    list-style-type: none;
}
ol{
    width: 80%;
}
.example-image{
width: 80%;
}
